<!-- preset form values if we receive a userdata object //-->
<!-- store the userId on the client side in a hidden input field //-->
<input type="hidden" id="userId">
<div id="account-form-container">
  <form method="post" id="signup-form" class="form-horizontal well span6" action="/signup">
    <h2>Tell us about yourself</h2>
    {{> messages}}
    <fieldset>

      <div id="name-cg" class="control-group">
        <div class="controls input-prepend">
          <!-- <label for="field-name" class="control-label">Name</label> -->
          <span class="add-on"><i class="icon-pencil"></i></span>
          <input id="field-name" type="text" value="{{values.name}}" name="name" class="input-xlarge" placeholder="Name">
        </div>
      </div>

      <div id="email-cg" class="control-group">
        <div class="controls input-prepend">
          <!-- <label for="field-email" class="control-label">Email</label> -->
          <span class="add-on"><i class="icon-envelope"></i></span>
          <input id="field-email" type="text" name="email" value="{{values.email}}" class="input-xlarge" placeholder="Email address">
        </div>
      </div>

      <div id="username-cg" class="control-group">
        <div class="controls input-prepend">
          <!-- <label for="field-username" class="control-label">Username</label> -->
          <span class="add-on"><i class="icon-user"></i></span>
          <input id="field-username" type="text" name="username" value="{{values.username}}" class="input-xlarge" placeholder="User name">
        </div>
      </div>

      <div id="password-cg" class="control-group">
        <div class="controls input-prepend">
          <!-- <label for="field-password" class="control-label">Password</label> -->
          <span class="add-on"><i class="icon-key"></i></span>
          <input id="field-password" type="password" name="password" class="input-xlarge" placeholder="Password">
        </div>
      </div>

      <div class="form-actions">
        <div class="row-fluid">
          <div class="span6">
            <button type="submit"id="account-form-btn1" class="btn btn-large btn-block btn-primary account-form-actions">Create Account <i class="icon-circle-arrow-right"></i></button>
          </div>
          <div class="span6">
            <button  type="button" id="account-form-btn2" class="btn btn-large btn-block btn-danger account-form-actions">Cancel <i class="icon-ban-circle icon-white"></i></button>
          </div>
        </div>
      </div>

    </fieldset>
  </form>
</div>

{{> modals.alert}}
{{> modals.form-errors}}

