select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
display: inline-block;
height: 28px;
padding: 4px 6px;
margin-bottom: 10px;
font-size: 14px;
line-height: 20px;
color: #555;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
vertical-align: middle;
}
form h2{
  color: #1f4c20;
  text-shadow: 0px 1px 0px white;
  margin: 0 0 15px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #C5C5C5;
  box-shadow: 0px 1px 1px white;
  font-size: 1.8em;
  line-height: 1em;
}
form hr {
  border-bottom: 1px solid #C5C5C5;
box-shadow: 0px 1px 1px white;
}
.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input {
position: relative;
margin-bottom: 0;
vertical-align: top;
-webkit-border-radius: 0 4px 4px 0;
-moz-border-radius: 0 4px 4px 0;
border-radius: 0 4px 4px 0;
}
.input-append, .input-prepend {
margin-bottom: 5px;
font-size: 0;
white-space: nowrap;
}
.input-append .add-on, .input-prepend .add-on {
display: inline-block;
width: auto;
height: 18px;
min-width: 16px;
padding: 4px 5px;
font-size: 14px;
font-weight: normal;
line-height: 18px;
text-align: center;
text-shadow: 0 1px 0 white;
background-color: #EEE;
border: 1px solid #CCC;
}
.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input {
position: relative;
margin-bottom: 0;
vertical-align: top;
-webkit-border-radius: 0 4px 4px 0;
-moz-border-radius: 0 4px 4px 0;
border-radius: 0 4px 4px 0;
}
label {
  display: none !important;
}
.form-horizontal .controls {
margin-left: 0px;
display:block;
}
.input-prepend .add-on:first-child, .input-prepend .btn:first-child {
  width: 10%;
  height: 34px;
}
.input-prepend .add-on {
  width: 10%;
  height: 34px;
}
.input-prepend .add-on i {
  font-size: 2em;
  padding-top: 3px;
  display: inline-block;
}
.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input {
  width: 88%;
  height: 44px;
  font-size: 18px;
}
.form-horizontal .form-actions {
  padding-left: 0px;
  padding-right: 0px;
}
#signup-form .form-actions {
  padding: 17px 0px 0px;
  margin-top: 18px;
  margin-bottom: 0px;
}
#signup-form .btn-block,
#login-form .btn-block {
  width: 100%;
  margin-bottom: 10px;
}
#signup-form .btn-block i,
#login-form .btn-block i {
  padding-left: 5px;
  font-size:18px;
}
/**
 * Login form.
 */
#login-form .toggle-wrapper{
  padding-top: 5px;
}
#remember-me {
  display: inline-block;
  vertical-align: top;
  padding: 5px 0px 0 10px;
}
#login-form .form-actions {
  padding: 0;
  border: none;
}

