html,
body {
  height: 100%;
}
body {
  background: url("../img/bg.png") repeat;
}
h1, h2, h3, h4, h5 {
  font-family: 'Droid Sans', sans-serif;
}
p, a {
font-family: 'Lato', sans-serif;
}
#page_wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -45px;
}
/**
 * Navigation
 */
.navbar-inner {
min-height: 60px;
padding-right: 20px;
padding-left: 20px;
background-color: white;
background-image: none;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333',endColorstr='#222222',GradientType=0);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.navbar .nav > li > a {
  font-size:1.3em;
  float: none;
  padding: 20px 20px;
  line-height: 19px;
  color: #00aced;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar .nav > li > a:hover,
.navbar .nav .active > a:hover {
  float: none;
  line-height: 19px;
  color: #FFF;
  text-decoration: none;
  background-color: #00aced;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar .nav .active > a {
  color: #01739e;
  text-decoration: none;
  background-color: #fff;
}

.container {
  width: auto;
  max-width: 960px;
}
#main_content .container,
#footer .container {
  padding-top: 15px;
}
.navbar {
margin-bottom: 0;
}
#header {
  background: rgba(32, 79, 33, 0.3);
  box-shadow: inset 0px 1px 5px #002144, 0px 1px 0px #7cd879;
  padding-bottom: 15px;
}
#header .container {
  padding-top: 25px;
}
#header .container h1 {
  color: #fff;
  font-size: 3.9em;
  font-family: 'Droid Sans', sans-serif;
  text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
}
#push,
#footer {
  height: 45px;
}
#footer {
  background: rgba(32, 79, 33, 0.3);
  box-shadow: inset 0px 1px 5px #002144, 0px 1px 0px #7cd879;
  color: #fff;
}
#footer .container {
  font-size: 1.2em;
  font-family: 'Droid Sans', sans-serif;
  text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
}
.sub-title {
  padding-top:10px;
  color: #d8ffda;
  text-shadow: rgba(0,0,0,0.3) -1px 0, rgba(0,0,0,0.1) 0 -1px, rgba(255,255,255,0.3) 0 1px, rgba(0,0,0,0.1) -1px -2px;
  font-weight: normal;
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}



